@charset "UTF-8";

body {
  width: 650px;
  height: 650px;
  padding: 0 4px;
  font-size: 12px;
  background: #eee;
}
h1 {
  font-size :14px;
  font-weight: bold;
  padding: 4px;
}
textarea#postContent {
  width: 90%;
}
.linkContentItem {
  padding:4px 0;
  border-top: 1px solid #eee;
  font-size:12px;
}
.linkContentItem:last-child {
  border-bottom: 1px solid #eee;
}
tbody {
    width: 500px;
}
tbody#linkList > tr > td > input > label {
  vertical-align: bottom;
  width: 90%;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
